* {
	padding: 0px;
	margin: 0px;
}

.background {
  background: -webkit-linear-gradient(left top, #ccc , #003366); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #ccc, #003366); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #ccc, #003366); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #ccc , #003366); /* Standard syntax */	
}

.bg {
  background: -webkit-linear-gradient(left top, #fff , #555); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #fff , #555); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #fff , #555); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #fff , #555); /* Standard syntax */	
}

.minWidth{
	min-width: 1081px;
}

.shadow {
    box-shadow: 7px 7px 5px #456;
}

.blackShadow {
	box-shadow: 7px 7px 5px #000;
}

.radius {
    border-radius: 8px;
}

.border {
	border: 1px solid #555;
}

.getValues {
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.putValues {
	padding-bottom: 10px;
	margin-bottom: 15px;
	margin-top: 30px;
}

.half {
	width: 42% !important;
	float: left;
}

#login form {
	position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
	width: 23%;
	height: 23%;
	min-height: 180px;
	min-width: 300px;
}

#login form h2 {
	text-align: center;
	color: black;
	font-size: 15px;
	padding: 20px;
}

#login form .row {
	display: block;
	padding: 10px;
}

#login form .row input{
	float: right;
}

#login form .row label{
	margin-left: 10px;
}

#submit{
	margin-left: 20px;
	width: 100px;
	height: 25px;
}

#submit:hover {
	background: #444;
	color: white;
}

#header {
	background: url(../images/header/header.gif) top center repeat-x;
	position: relative;
    margin-left: auto;
    margin-right: auto;
	margin-top: 20px;
	width: 80%;
	height: 100px;
}

#header h1 {
	position: relative;
    top: 30px;
    left: 30px;
	color: greenyellow;
	font-weight: 900;
	font-size: 45px;
}

#menu {
	position: relative;
    margin-left: auto;
    margin-right: auto;
	margin-top: 20px;
	width: 80%;
	height: 40px;
	overflow: hidden;
	background: black;
}

#menu div {
	position: relative;
	display: inline;
	float: left;
	height: 100%;
	width: 13%;
	color: white;
	font-weight: 800;
	padding: 10px 3% 0% 3%;
	text-align: center;
	background: #444;
	margin: 0px 2px 0px 2px;
}

#menu div:hover{
	background: #aaa !important;
	color: black;
}

#menu #turnOff {
	position: absolute;
	z-index: 10;
	background: darkgreen;
	height: 40px;
	width: 20px;
	float: right;
	color: white;
}

#menu #turnOff:hover {
	background: red;
	color: black;
}

#common {
	padding: 20px;
	text-align: center;
}

#common .row {
	padding: 10px;
	text-align: left;
}

#common h2 {
	padding: 10px;
	text-align: center;
}

#main {
	position: relative;
    margin-left: auto;
    margin-right: auto;
	margin-top: 20px;
	bottom: 50px;
	top: 0px;
	width: 80%;
	min-height: 360px;
}

#mainleft {
	position: relative;
    margin-left: auto;
    margin-right: auto;
	width: 70%;
	min-height: 360px;
	float: left;
	overflow: hidden;
}

#mainLeft .field {
	width: 60%;
	margin: 20px 0px 0px 20px;
	padding: 10px;
}

#mainLeft .field .row input{
	width: 250px;
	float: right;
}

#mainRight{
	position: relative;
    margin-left: auto;
    margin-right: auto;
	width: 25%;
	min-height: 360px;
	float: right;
}

#mainRight ul {
	list-style: none;
}

#mainRight ul li {
	padding: 10px;
	width: 100%;
	text-align: center;
	color: black;
	font-weight: 700;
	margin-bottom: 15px;
	margin-left: -20px;
}

#count {
	padding: 5px;
	visibility: hidden;
	position: absolute;
	top: 115px;
	left: 215px;
	background: #ccc;
}

#mainRight ul li:hover{
	background: -webkit-linear-gradient(left top, #ccc , #003366); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #ccc, #003366); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #ccc, #003366); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #ccc , #003366); /* Standard syntax */
	box-shadow: 7px 7px 5px #000;
}

#mainRight:hover #count {
	visibility: visible;
}

#footer {
	position: fixed;
	bottom: 0px;
	overflow: hidden;
	width: 100%;
	border: 1px solid #555;
	max-height: 40px;
	padding: 10px;
	text-align: center;
}

#backFooter {
	position: relative;
	height: 50px;
	width: 100%;
	float: left;
}

#iframe {
	position: fixed;
	height: 100%;
	width: 100%;
	background: black;
	opacity: 0.9;
	top: 0px;
	left: 0px;
	z-index: 200;
	visibility: hidden;
}

#iframe iframe {
	position: relative;
	top: 30px;
	left:430px;
	z-index: 201;
	min-height: 520px;
	min-width: 500px;
	background: white;
	opacity: 1;
}